* {
  margin: 0;
  padding: 0;
}

.all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  padding-top: calc(2vw - 2rem);
  padding-bottom: calc(2vw - 2rem);
}

.individual-card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  margin: 2rem;
  padding: 2rem;
  width: 80vw;
  height: auto;
  font-size: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--default-shadow);
}

.individual-card img {
  position: relative;
  width: 100%;
  height: auto;
}

.individual-card h2 {
  margin: auto;
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.individual-card ul {
  display: inline-block;
  list-style: none;
  font-size: 1.2rem;
}

.individual-card ul > li {
  margin-bottom: 5px;
}

.specs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.specs button {
  margin-top: 1rem;
  box-sizing: border-box;
  border: 0px;
  color: #fff;
  background-color: var(--buttons);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
}
.specs button::before {
  content: "в корзину";
}

@media screen and (max-width: 768px) {
  .individual-card {
    font-size: 16px;
    justify-items: flex-end;
    grid-template-columns: 1fr 1fr;
  }

  .individual-card ul {
    font-size: 14px;
  }
}

@media screen and (max-width:510px) {

  .individual-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
}