:root {
  --buttons: #fe0001;
  --major-ui: #333;
  --extra-ui: rgb(79, 77, 66);
  --cards: rgb(192, 194, 188);
  --default-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

* {
  margin: 0;
  padding: 0;
}

.all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  padding-top: calc(2vw - 2rem);
  padding-bottom: calc(2vw - 2rem);
}

.individual-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  width: 80vw;
  height: auto;
  font-size: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: var(--default-shadow);
}

.individual-card h2 {
  margin: auto;
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.individual-card ul {
  display: inline-block;
  list-style: none;
  font-size:20px;
}

/* .specs a {
  color: #000;
  background-color: var(--buttons);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: .5vw;
  font-size: 1.1rem;
}

.specs a::before{
  content: 'купить';
} */

.specs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .individual-card {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .individual-card img {
    width: 100%;
  }
}
