* {
  margin: 0;
  padding: 0;
}

.all-products2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  padding-top: calc(2vw - 2rem);
  padding-bottom: calc(2vw - 2rem);
}

.all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .5fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  align-items: stretch;
  overflow: scroll;
  padding: 2vw;
}

.individual-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  box-shadow: var(--default-shadow);
  padding: 20px;
}

.individual-card img {
  position: relative;
  width: 100%;
  height: auto;
}

.individual-card h2 {
  margin: auto;
  display: inline-block;
  text-align: center;
  margin: 1rem 0 1rem 0;
  font-weight: 600;
}

.individual-card ul {
  display: inline-block;
  list-style: none;
  font-size: 1.2rem;
}

.individual-card ul > li {
  margin-bottom: 5px;
}

.specs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.specs button {
  margin-top: 1rem;
  box-sizing: border-box;
  border: 0px;
  color: #fff;
  background-color: var(--buttons);
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
}

summary {
  /* padding: 10px;
  margin-bottom: 5px; */
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}

summary > h3 {
  display: inline;
}

summary::marker {
  font-weight: 600;
  content: "+ ";
}

.specs button::before {
  content: "в корзину";
}

@media screen and (max-width: 768px) {

  .all-products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .individual-card {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    padding: 2rem;
    width: 80vw;
    height: auto;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--default-shadow);
  }

  .individual-card ul {
    font-size: 16px;
  }
}

@media screen and (max-width: 510px) {
  .individual-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
}
