:root {
  --buttons: #fe0001;
  --major-ui: #333;
  --extra-ui: rgb(79, 77, 66);
  --writings: rgb(192, 194, 188);
  --cards: #847e7e;
  --default-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--major-ui);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  white-space: none;
}

header h1 > a {
  text-decoration: none;
  color: white;
}

.ui {
  filter: invert();
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-color: #000;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  /* gap: 10vw; */
  text-align: center;
}

.hero #banner-hero {
  width: 100%;
}

.cta-button {
  background-color: var(--buttons);
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 4rem 4rem 4rem;
}

.catalog a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.category1 {
  grid-area: 1 / 1 / 2 / 2;
}
.category2 {
  grid-area: 1 / 2 / 2 / 3;
}
.category3 {
  grid-area: 2 / 1 / 3 / 2;
}
.category4 {
  grid-area: 2 / 2 / 3 / 3;
}

.catalog div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  border-radius: 5px;
  box-shadow: var(--default-shadow);
}

.catalog div > img {
  width: 100%;
}

#featured-products-header {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.product {
  width: 70%;
  background-color: var(--cards);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  padding: 2rem;
}

.product img {
  width: 100%;
}

.buy-button {
  background-color: var(--buttons);
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
}

.about-us {
  background-color: #a69f9f;
  padding: 2rem;
}

.about-us a {
  color: black;
  opacity: 0.8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--major-ui);
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

footer p {
  display: inline;
  margin-right: 15px;
}

.important {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--writings);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  header ul > li:last-child {
    margin: 0;
  }

  header h1 {
    display: block;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 6vh;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
  }

  .catalog {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .cta-button {
    font-size: 1.2rem;
  }

  .product {
    width: 90%;
  }

  .buy-button {
    font-size: 1rem;
  }

  .about-us {
    padding: 2rem;
  }
}

@media screen and(max-width: 480px) {
  header {
    padding: 1rem;
  }

  nav li {
    margin: 0.5rem 0;
  }

  .cta-button {
    font-size: 1rem;
  }

  .product {
    padding: 1rem;
  }

  .buy-button {
    font-size: 0.7rem;
  }

  .about-us {
    padding: 1rem;
  }

  footer a,
  footer p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 405px) {
  nav li {
    margin-right: 1vw;
    justify-content: space-around;
  }
  header h1 {
    font-size: 1.8rem;
  }
  nav {
    padding: 0 10px 0 10px;
  }
}
