:root {
  --buttons: #fe0001;
  --major-ui: #333;
  --extra-ui: #8f8787;
  --default-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}

#logo {
  cursor: pointer;
}

#logo-pic {
  display: inline-block;
  width: 160px;
  max-height: 90px;
}

.article {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  justify-items: center;
  background-color: var(--extra-ui);
  padding: 2rem;
  font-size: 1.5rem;
  text-align: justify;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.icon-container img {
  scale: 2;
  /* margin: 1rem; */
}

.icon-container p {
  text-align: center;
  font-size: 1.2rem;
}

header {
  background-color: var(--major-ui);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ui {
  filter: invert(1);
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1612390191367-8c1bfe94e7c2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFuZGF0b3J5JTIwdGltZSUyMHN0b3JlJTIwY2hpbmVzZSUyMGFuZCUyMGF0JTIwc2l6ZSUyMGJlaW5nJTIwY29sb3JmdWwlMjBhdCUyMGltYWdlJTIwZnJvbSUyMGRlZmF1bHQlMjBwaWN0dXJlfDEyMDB4MTIwMHwxfHJlZCUyMHN0b3JlJTIwY2hpbmVzZSUyMGFuZCUyMGF0JTIwc2l6ZSUyMGJlaW5nJTIwY29sb3JmdWwlMjBhdCUyMGltYWdlJTIwZnJvbSUyMGRlZmF1bHQlMjBwaWN0dXJlfDEyMDB4MTIwMHwzfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h2 {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: var(--buttons);
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 4vh;
  padding: 1rem 2rem;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: #fff;
  color: var(--buttons);
}

.catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 6vh;
  grid-row-gap: 6vh;
  padding: 0 10vh 10vh 10vh;
}

.catalog a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.catalog div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: auto !important;
  border-radius: 5px;
  box-shadow: var(--default-shadow);
  transition: all 0.2s ease-in-out;
}

#featured-products-header {
  margin-top: 0;
  margin-bottom: 5vw;
  font-size: 2rem;
  text-align: center;
}

.catalog div img {
  width: 50%;
  height: auto;
  display: block;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--extra-ui);
  gap: 2vw;
  padding: 2vh;
}

.links h3 {
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.2rem;
}

.link-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--major-ui);
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

.important {
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  header ul > li:last-child {
    margin: 0;
  }

  header h1 {
    display: block;
  }

  .article {
    display: none;
  }

  .catalog {
    padding: 2rem;
    padding-top: 0;
  }

  .catalog div {
    height: 30vh;
    margin: 0;
  }
}

@media screen and (max-width: 510px) {
  body {
    font-size: 20px;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1;
    gap: 2vh;
    box-shadow: none;
  }

  .link-container {
    gap: 0;
  }

  .links h3 {
    white-space: pre-wrap;
  }

  .links img {
    scale: 0.7;
  }
  .catalog {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
  }

  .catalog div {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  footer p {
    margin: 2%;
  }

  .ui {
    scale: 0.8;
  }
}

@media screen and (max-width: 363px) {
  #logo-pic {
    width: 114px;
  }
}
