:root {
  --buttons: #fe0001;
  --major-ui: #333;
  --extra-ui: rgb(79, 77, 66);
  --writings: rgb(192, 194, 188);
  --cards: #847e7e;
  --default-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0 4rem 4rem 4rem;
  gap: 10px;
  box-shadow: var(--default-shadow);
  border-radius: 5px 5px 5px 5px;
}

form h1 {
  text-align: center;
}

input {
  display: inline-block;
  margin: 1rem;
  width: 70%;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  border: solid 1px var(--extra-ui);
  border-radius: 5px 5px 5px 5px;
  box-shadow: var(--default-shadow);
}

[type="submit"] {
  width: 160px;
  height: auto;
  background-color: var(--buttons);
  border: solid 0px;
  border-radius: 5px 5px 5px 5px;
}

#submit-button {
  font-size: 1.5rem;
  padding: 10px 0 10px 0;
}

@media screen and (max-width: 768px) {
  #submit-button {
    font-size: 1.2rem;
  }
  input {
    width: 90%;
  }
}
