form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 56vh;
  margin: 1rem;
  padding: 0 4rem 4rem 4rem;
  gap: 10px;
  box-shadow: var(--default-shadow);
  border-radius: 5px 5px 5px 5px;
}

form h1 {
  text-align: center;
}

input {
  display: inline-block;
  margin: 1rem;
  width: 70%;
  height: 3rem;
  text-align: center;
  font-size: 1rem;
  border: solid 0 var(--extra-ui);
  border-radius: 5px 5px 5px 5px;
  box-shadow: var(--default-shadow);
}

[type="submit"] {
  width: 160px;
  height: auto;
}

#submit-button {
  font-size: 1.5rem;
  padding: 10px 0 10px 0;
}

@media screen and (max-width: 768px) {
  #submit-button {
    margin-top: 2vh;
    font-size: 1.2rem;
  }
  input {
    width: 100%;
  }
}
